$primary_color: rgb(244, 250, 255);
$secondary_color: #000;


@font-face {
    font-family: 'proximaNovaBold';
    src: local('proximaNovaBold'), url('../assets/fonts/proximanovacond-bold.otf') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNovaMedium';
    src: local('proximaNovaMedium'), url('../assets/fonts/proximanovacond-medium.otf') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNovaLight';
    src: local('proximaNovaLight'), url('../assets/fonts/proximanovacond-light.otf') format('woff');
    font-weight: 400;
    font-style: normal;
}